html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

blockquote,
q {
  quotes: '' '';

  &:after,
  &:before {
    content: '';
  }

  :last-child {
    margin-bottom: 0;
  }
}

hr {
  border: 0;
  height: 0.12em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: $color__accent;  // $color__background-hr;
  max-width: 4em;

  #content & {
    margin-left: 0;
  }

  .sidebar & {
    margin-right: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 1em 0;
}

@import 'links';

@import 'lists';

@import 'tables';
