@import 'buttons';

@import 'fields';

label {
  font-weight: 700;
  letter-spacing: 1px;
}

fieldset {
  border: 1px solid $color__border-input;
  border-radius: 0.2em;
}

form.amp-form-submit-success {
  input, textarea, fieldset {
    display: none
  }
}
