      </main>

      <footer id='footer' class='footer'>
        <div class='container sep-before'>
          {{ partial "nav/menus/social" . }}
          {{ partial "footer/copyright" . }}
        </div>
      </footer>

    </div>
  </div>

  {{ partial "sidebar/amp-sidebar" . }}
  {{- with .Site.Params.info.google_analytics -}}
  <amp-analytics type="googleanalytics">
    <script type="application/json">
      {
        "vars": {
          "account": "{{ . }}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
  </amp-analytics>
  {{- end -}}

</body>

</html>
