{{ $.Scratch.Add "page" .Page }}
{{ $pagearg := .Get "page" }}
{{ if $pagearg  }}
	{{ $.Scratch.Set "page" (.Site.GetPage "page" $pagearg) }}
	{{ if (not ($.Scratch.Get "page")) }}
		{{ $.Scratch.Set "page" (.Site.GetPage "section" $pagearg) }}
	{{ end }}
{{ end }}

{{ $page := $.Scratch.Get "page" }}
{{ $img := $page.Resources.GetMatch (printf "**%s*" (.Get "name")) }}
{{ $width := (replace (default $img.Width (.Get "width")) "px" "") }}
{{ $x1 := $img.Resize (print $width "x q85") }}
{{ $x2 := $img.Resize (print (mul (int $width) 2) "x q85") }}
<div class="image">
	<amp-img
		src="{{ $x1.RelPermalink }}"
		srcset="{{ $x1.RelPermalink }} 1x, {{ $x2.RelPermalink }} 2x"
		width="{{ $x1.Width }}"
		height="{{ $x1.Height }}"
		layout="intrinsic">
	</amp-img>
</div>
