.sidebar {
  width: $sidebar__width;
  max-width: 100%;
  padding: 2em 0;

  background-color: #fff;
  text-align: right;

  .sep-after {
    &:after {
      margin-left: auto;
    }
  }
}

.site > .sidebar {
  position: absolute;
  left: -$sidebar__width;

  .sidebar-sticky & {
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
  }

  @include screen($breakpoint-medium) {
    left: 0;
  }
}

.sidebar-toggler {
  background: transparent;
  font-size: 1em;
  font-weight: bold;
  text-align: left;

  .main-menu & {
    margin-right: 20px;
    @include screen($breakpoint-medium) {
      display: none;
    }
  }

  .sidebar & {
    position: absolute;
    left: 20px;
  }
}

/*

.sidebar-overlay {
  display: none;

  .sidebar-toggled & {
    display: block;

    &:after {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2027;

      background: $color__pure-white;
      opacity: 0.75;
    }

    @include screen($breakpoint-medium) {
      display: none;
    }
  }
}

*/
